<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mi primer Login</title>

<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>



    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/nivel.css}">

</head>

<script type="text/javascript">
   function habilitar(bobX){
   
     console.log('XD1inicio  BOB      ---- '+bobX);
  if( document.getElementById(bobX).checked){
  console.log('XD1 BOB');
  document.getElementById(bobX+'1').innerText  = "Validar";
    alertify.success('Correcto!');
   }else{
    alertify.error('Intenta de nuevo');
   // document.getElementById(bobX+'1').disabled=true;
    // document.getElementById(bobX+'1').innerText  = "Bloquado";
  }
   }
  </script> 
  
<body>
	<div class="container">
	</br></br>
		<center><FONT COLOR="white"><h1> <mark> Bienvenido al nivel Avanzado!</mark><h1 th:text="${usuario.usuario}"/></center>
	<div class="row">
		<div class="col-sm">
			<button class="btn btn-dark" onclick="history.back()">Regresar</button>
		</div>
	</div>

	<div class="container">

	<div class="row">
				
					
					<div class="col-sm">
						<form th:action="@{'/dialogo'}" method="get">
								<br /><br />
								<button > <img th:src="@{/img/direc.png}" height ="200" width="220" />
								<u><font color="blue">DÍALOGO</font></u></button></button>
						</form>
					</div>
					<div class="col-sm">
						<form th:action="@{'/examen3'}"  th:object="${usuario}"  method="get">
						<input type="hidden" class="form-control" th:field="*{usuario}" placeholder="Nombre de usuario"  name="username"/>
								<br /><br />
								<button > <img th:src="@{/img/otros.png}" height ="200" width="220" />
								<u><font color="blue">EVALUACIÓN</font></u></button></button>
						</form>
					</div>
					</div>

	
	</div>
      </div>
</body>
</html>