<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mi primer Login</title>

<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>



    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/otros.css}">

</head>

<script type="text/javascript">
   function habilitar(bobX){
   
     console.log('XD1inicio  BOB      ---- '+bobX);
  if( document.getElementById(bobX).checked){
  console.log('XD1 BOB');
  document.getElementById(bobX+'1').innerText  = "Validar";
    alertify.success('Correcto!');
   }else{
    alertify.error('Intenta de nuevo');
   // document.getElementById(bobX+'1').disabled=true;
    // document.getElementById(bobX+'1').innerText  = "Bloquado";
  }
   }
  </script> 
  
<body>
	<div class="container">


		Bienvenido
		<h3 th:text="${usuario.usuario}" />
		<i class="fas fa-user"></i>
	</h3>
		<div class="row">
		<div class="col-sm">
			<button class="btn btn-dark" onclick="history.back()">Regresar</button>
		</div>
	</div>
		
		
		  <div class="container">
      
               <hr size=100 color="orange">
              <FONT COLOR="red"> <h1><mark>Cómo Formular Oraciones</mark></h1></FONT>
               <hr size=100 color="orange">
                
               <FONT COLOR="black"> <h4><mark><strong>Nota:</strong> <br><FONT color="blue">A).</FONT> 
               Para crear oraciones se sigue la siguiente regla <FONT color="red">  
               (sujeto + verbo + predicado).</FONT></br> <br><FONT color="blue">B).</FONT> Si se desea plantear una oración que no se hizo se utiliza 
               el <FONT color="red"> (ña’atú)</FONT> antes del verbo y la escritura del verbo es la misma 
				en cualquiera de sus conjugaciones. </br>
				 <br><FONT color="blue">C).</FONT> Para referirse a un objeto o animales se le agrega <FONT color="red"> (un)</FONT> al final de su nombre
				  mixteco, en caso de que termine en <FONT color="red"> (u)</FONT> solo se agrega la <FONT color="red"> (n)</FONT> 
               y se utiliza la misma escritura que para el pronombre "El" en sus diferentes conjugaciones.
				</mark></h4> 
               </FONT><hr size=100 color="orange">
               
               
                <table class="table table-hover">
        <thead>
        <tr>
          
            
        </tr>
        </thead>
        <tbody>
        <tr  th:each="creandoraciones : ${creandoraciones}">
            <th scope="row" th:text="${creandoraciones.nombre}">1</th>
            
            <th scope="row">   <audio controls>
		<source th:src="${creandoraciones.audiocorto}" type="audio/mpeg">
		 <th scope="row" >
</audio></th>
            <th scope="row"> <img th:src="${creandoraciones.urlcorto}"/></th>
  
 <th scope="row" >
	<form name="formulario" id="formulario">

		<input type="radio" name="valores"
			th:id="${creandoraciones.nombre}+${creandoraciones.valor1}"  th:text="${creandoraciones.pregunta1}"/>
			<br/>
			<input type="radio" name="valores"
			th:id="${creandoraciones.nombre}+${creandoraciones.valor2}"   th:text="${creandoraciones.pregunta2}" />
			<br/>
				<input type="radio" name="valores"
			th:id="${creandoraciones.nombre}+${creandoraciones.valor3}"   th:text="${creandoraciones.pregunta3} "/>

	</form>
	  
	  	</th>
        <th scope="row" ><button class="btn btn-info"  th:id="${creandoraciones.nombre}+'OK1' " type="button" th:attr="onclick=|habilitar
        ('${creandoraciones.nombre}'+'OK')|" th:text="${creandoraciones.nombre} ? 'Validar' : 'bloqueado'"></button></th>
      
        </tr>
        </tbody>
    </table>
            <hr><hr>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <form th:action="@{'/pronombresinte'}"  th:object="${usuario}" method="post">
  <button class="btn btn-success" type="submit">Siguiente Módulo</button>
</div>
            </div>
                
           <br/><br/>
</body>
</html>