<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mi primer Login</title>

<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>



    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/nivel.css}">

</head>

<script type="text/javascript">
   function habilitar(bobX){
   
     console.log('XD1inicio  BOB      ---- '+bobX);
  if( document.getElementById(bobX).checked){
  console.log('XD1 BOB');
  document.getElementById(bobX+'1').innerText  = "Validar";
    alertify.success('Correcto!');
   }else{
    alertify.error('Intenta de nuevo');
   // document.getElementById(bobX+'1').disabled=true;
    // document.getElementById(bobX+'1').innerText  = "Bloquado";
  }
   }
  </script> 
  
<body>
	<div class="container">


		Bienvenido
		<h3 th:text="${usuario.user}" />
		<i class="fas fa-user"></i>
	</h3>
		<i class="far fa-user"></i>


		<form action="#" class="form" th:action="@{'/nivel1'}"
			method="post">

			
		</form>
		
		
		  <div class="container">
      
               <h1>Repasando Direcciones</h1>
                <table class="table table-hover">
        <thead>
        <tr>
          
            
        </tr>
        </thead>
        <tbody>
        <tr  th:each="direccion : ${direcciones}">
            <th scope="row" th:text="${direcciones.nombre}">1</th>

 <th scope="row" >
	<form name="formulario" id="formulario">

		<input type="radio" name="valores"
			th:id="${direcciones.nombre}+${direcciones.valor1}"  th:text="${direcciones.pregunta1}"/>
			<br/>
			<input type="radio" name="valores"
			th:id="${direcciones.nombre}+${direcciones.valor2}"   th:text="${direcciones.pregunta2}" />
			<br/>
				<input type="radio" name="valores"
			th:id="${direcciones.nombre}+${direcciones.valor3}"   th:text="${direcciones.pregunta3} "/>

	</form>
	  
	  	</th>
        <th scope="row" ><button   th:id="${direcciones.nombre}+'OK1' " type="button" th:attr="onclick=|
        habilitar('${direcciones.nombre}'+'OK')|" th:text="${direcciones.nombre} ? 'Validar' : 'bloqueado'">bbb</button></th>
   
              
            <th scope="row"> <img th:src="${direcciones.urlcorto}"/></th>
           
            <th scope="row">   <audio controls>
		<source th:src="${direcciones.audiocorto}" type="audio/mpeg">
		 <th scope="row" >
</audio></th>
        </tr>
        </tbody>
    </table>
            </div>
                
          
    </div>
</body>
</html>