<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mi primer Login</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
   <link rel="stylesheet" type="text/css"
					th:href="@{/css/indexniveles.css}">

</head>

<body>
	<div class="container">

		<br></br>
		<br></br>
		<center>
			<h1>MENU PRINCIPAL</h1>
			
		
		<h3>
			<p th:text="'Bienvenido '+${usuario.usuario}" />
		</p></center>
		</h3>
<div class="row">
<div class="col-8">
</div>
   <div class="col-4">
    <!--<form th:action="@{'/#'}" method="get">
			<button class="btn btn-secondary">Perfil</button>
		</form> -->
		 
		<br/>
		<form th:action="@{'/salir'}" method="get">
			<button class="btn btn-danger"><b>Cerrar Sesion</b></button>
		</form>
</div>
</div>
		<br></br>
		<br></br>
		 <div class="row">
		<div class="col-sm">
		<form th:action="@{'/nivel1'}"  th:object="${usuario}" method="post">
		<input type="hidden" class="form-control" th:field="*{usuario}" placeholder="Nombre de usuario"  name="username"/>
			<button > <img th:src="@{/img/M2.png}" height ="200" width="200" />NIVEL 1</button>
		</form>
		</div>
		<div class="col-sm">
		<form th:action="@{'/nivel2'}" method="post">
			<button > <img th:src="@{/img/M1.png}" height ="200" width="200" />NIVEL 2</button>
		</form>
		</div>
		<div class="col-sm">
		<form th:action="@{'/nivel3'}" method="post">
			<button > <img th:src="@{/img/M3.png}" height ="200" width="200" />NIVEL 3</button>
		</form>
		</div>

	
	</div>
	<br></br><br></br><br></br><br></br>
	<center><FONT COLOR="white"><h1> <mark> Aprende MIXTECO de forma divertida!</mark></h1></center>
       </div>
</body>
</html>