<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mi primer Login</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css"th:href="@{/css/nivel.css}">

</head>
<body>
    <div class="container">
            
            <h3 th:text="${usuario.user}"/><i class="fas fa-user"></i></h3><i class="far fa-user"></i>
            <h3> Bienvenido al aprendizaje de palabras! <h3 />
		<br />
		<form th:action="@{'/numeronivel1'}" method="post">

			<input class="btn btn-primary btn-lg" type="submit" value="Números">
		</form>
		
		<br />
		<!--cambiar al nombre de archivo html-->
		<form th:action="@{'/animalnivel1'}" method="post">

			<input class="btn btn-primary btn-lg" type="submit" value="Animales">
		</form>
		
		<br />
		<form th:action="@{'/frutasyverdurasnivel1'}" method="post">

			<input class="btn btn-primary btn-lg" type="submit" value="Frutas y Verduras">
		</form>
		
		<br />
		<form th:action="@{'/partesdelcuerponivel1'}" method="post">

			<input class="btn btn-primary btn-lg" type="submit" value="Partes del Cuerpo Humano">
		</form>	
		
		<br />
		<form th:action="@{'/hogarnivel1'}" method="post">

			<input class="btn btn-primary btn-lg" type="submit" value="Hogar">
		</form>	
		
		<br />
		<form th:action="@{'/familianivel1'}" method="post">

			<input class="btn btn-primary btn-lg" type="submit" value="Integrantes de la Familia">
		</form>	
		
		<br />
		<form th:action="@{'/accionesnivel1'}" method="post">

			<input class="btn btn-primary btn-lg" type="submit" value="Acciones">
		</form>		
		
		<br />
		<form th:action="@{'/direccionesnivel1'}" method="post">

			<input class="btn btn-primary btn-lg" type="submit" value="Direcciones">
		</form>	
		
		<br />
		<form th:action="@{'/coloresyotrosnivel1'}" method="post">

			<input class="btn btn-primary btn-lg" type="submit" value="Colores y otros">
		</form>	
		
		<br />
		<form th:action="@{'/evaluacion'}" method="get">
			<input class="btn btn-primary btn-lg" type="submit" value="Evaluación">
		</form>
		<br />
		
		<div class="row">
  <div class="col-md-9">
		<form th:action="@{'/juego'}" method="post">
			<input class="btn btn-primary btn-lg" type="submit" value="Juego">
		</form>
		</div>
</div>
            </div>
        </div>
    </div>
</body>
</html>