<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mi primer Login</title>

<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>



    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/modulosn1.css}">

</head>

<script type="text/javascript">
   function habilitar(bobX){
   
     console.log('XD1inicio  BOB      ---- '+bobX);
  if( document.getElementById(bobX).checked){
  console.log('XD1 BOB');
  document.getElementById(bobX+'1').innerText  = "Validar";
    alertify.success('Correcto!');
    document.getElementById(bobX+'1').disabled=true;
    document.getElementById(bobX+'1').innerText  = "Correcto";
   }else{
    alertify.error('Intenta de nuevo');
   
  }
   }
  </script> 
  
<body>
	<div class="container">


		Bienvenido
		<h3 th:text="${usuario.usuario}" />
		<i class="fas fa-user"></i>
	</h3>
		
		<div class="row">
		<div class="col-sm">
			<button class="btn btn-primary" onclick="history.back()">Regresar</button>
						<br>
			<form th:action="@{'/nivel1'}"  th:object="${usuario}" method="post">
  			<button class="btn btn-danger" type="submit">Salir</button>
		</div>
		
	</div>
		  <div class="container">
      	<hr>
              <FONT COLOR="red"> <center><h1><mark>Aprende los números en Mixteco!</mark></center></h1></FONT>
               <hr size=100 color="orange">
               <FONT COLOR="black"><h4><mark>Instrucciones: Con la ayuda de los audios deberás seleccionar 
               la respuesta que corresponde, después dar clic en el botón "validar" para verificar 
               si tu respuesta es "correcta". </mark></h4> 
               </FONT><hr size=100 color="orange">
                <table class="table table-hover">
        <thead>
        <tr>
          
            
        </tr>
        </thead>
        <tbody>
        <tr  th:each="numero : ${numeros}">
            <th scope="row" th:text="${numero.nombre}">1</th>
		   <th scope="row">   <audio controls>
		<source th:src="${numero.audiocorto}" type="audio/mpeg">
		 <th scope="row" >
		</audio></th>
		<th scope="row"> <img th:src="${numero.urlcorto}"/></th>
           
         
 <th scope="row" >
	<form name="formulario" id="formulario">

		<input type="radio" name="valores"
			th:id="${numero.nombre}+${numero.valor1}"  th:text="${numero.pregunta1}"/>
			<br/>
			<input type="radio" name="valores"
			th:id="${numero.nombre}+${numero.valor2}"   th:text="${numero.pregunta2}" />
			<br/>
				<input type="radio" name="valores"
			th:id="${numero.nombre}+${numero.valor3}"   th:text="${numero.pregunta3} "/>

	</form>
	  
	  	</th>
        <th scope="row" ><button class="btn btn-info"  th:id="${numero.nombre}+'OK1' " type="button" th:attr="onclick=|
        habilitar('${numero.nombre}'+'OK')|" th:text="${numero.nombre} ? 'Validar' : 'bloqueado'"></button></th>
		
        </tr>
        </tbody>
    </table>
    
    
  </form>
  <hr><hr>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <form th:action="@{'/animalnivel1'}"  th:object="${usuario}" method="post">
  <button class="btn btn-success" type="submit">Siguiente Módulo</button>
</div>
    
    
  </a>
    <br/><br/>
            </div>
                
          
    </div>
</body>
</html>