<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mi primer Login</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
 
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>



</head>
	<body>
		<div class="modal-dialog text-center">
			<div class="col-sm-8 main-section">

				<center><h4>SISTEMA WEB PARA EL APRENDIZAJE DE LA LENGUA MIXTECA DEL MUNICIPIO DE
				SAN ANTONINO MONTE VERDE</h4></center>
				<center><h5>Reporte de Evaluación</h5></center>
		
				<img class="logo" src="images/examen.png"  height ="100" width="100"/>	
			
			</div>
			</div>
			
		
			<table>
  <tbody>
  <tr th:each="usuario : ${students}">
  
  <th>Nombre: </th>
  <td th:text="'   '+${usuario?.nombre}"></td>
  
 
  
    </tr>
    
    <tr th:each="usuario : ${students}">
  <th>Ap. Paterno: </th>
  <td th:text="'   '+${usuario?.apellidopaterno}"></td>
    </tr>
    
     <tr th:each="usuario : ${students}">
  <th>Ap. Paterno: </th>
  <td th:text="'   '+${usuario?.apellidomaterno}"></td>
    </tr>
    
  <tr th:each="usuario : ${students}">
  <th>Calificación: </th>
  <td th:text="'   '+${usuario?.calificacion}"></td>
    </tr>
<th></th>

  </tbody>
</table >

 
 <div class="modal-dialog text-center">
			<div class="col-sm-8 main-section">

				<center><h4>¡FELICIDADES!</h4></center>
				<center><h5>Nivel 1 Completado</h5></center>
		
				<img class="logo" src="images/jugar.png"  height ="100" width="100"/>	
			
			</div>
			</div>    
   
     
</body>
</html>